<div class="container" style="padding-top: 10px;">

    <h1><i class="fa fa-code"></i> Aquachain Address
        <small>View information about an Aquachain Address</small>
    </h1>
<hr>
    <div id="address" class="blockdiv">
        <table class="table table-striped">
            <tbody><tr>
                <th colspan="2" style="text-align:left">Summary</th>
            </tr>
            <tr>
                <td>Current Balance</td>
                <td><span style="font-size: 24px; font-weight: lighter;">{{ balance }} AQUA</span></td>
            </tr>
            <tr>
                <td>Transaction Count <em>(# of outgoing TXs)</em></td>
                <td>{{ txCount }}</td>
            </tr>
            <tr>
                <td>Contract Code</td>
                <td><textarea style="min-width: 100%; background-color: #222; color: #08d410;">{{ code }}</textarea></td>
            </tr>
          </tbody>
      </table>
      <hr>
</div></div>
